
h1{
    color: black;
    text-align: center;
}



h2{
	color: black;
	text-align: center;
}



body{
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor-cielo {

	width: 50%;
	height: 100%;
    flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 25%;
	top: 30px;
	position: relative;
	
}

#contenedor-suelo {
	width: 33%;
	height: 100%;
    flex-wrap: wrap;
	display: flex;
    align-items: center;
	justify-content: space-between;
	left: 35%;
	top: 130px;
	position: relative;

}

.componente-cielo {
	position: relative;
	width: 70px;
	height: 70px;
	top: 10px;
	left: 10px;
	z-index: 4;
}

.componente-suelo{

	position: relative;
	width: 20%;
	height: 20%;
	top: 10px;
	left: 10px;
	z-index: 3;

}

.cielo {
	height: 80%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
    opacity: 0.7;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #d2c5e4;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.5;
	z-index: -1;
}

